.items-database-wrapper {
    width:100%;
    max-width: 1600px;
    margin:0 auto;
    padding-block: 36px;
    padding-inline: $padding-inline-desktop;
    display: flex;
    flex-direction: row;
    @media screen and (max-width:768px) {
        padding-inline: $padding-inline-mobile;
    }
}