.resultslist {
        flex-grow:1;
        .resultslist-header {
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin:0 0 18px;
            @media screen and (max-width:768px){
                flex-wrap: wrap;
                row-gap: 12px;
            }
            h2 {
                font-weight:$font-bold;
                font-size:1.25rem;
                line-height:1;
                margin:0;
                text-transform: uppercase;
                letter-spacing: 0.05rem;
                @media screen and (max-width:768px){
                    width:100%;
                }
            }
            .resultslist-mobile-filter-btn {
                @include glass-box;
                height:28px;
                padding-inline:6px;
                color:$color-white;
                font-size:0.875rem;
                font-weight: $font-normal;
                letter-spacing: 0.04rem;
                text-transform: uppercase;
                display:flex;
                align-items: center;
                gap:12px;
                svg {
                    width:18px;
                    height:18px;
                }
                @media screen and (max-width:424px){
                    span {
                        display:none;
                    }
                }
            }
        }
        .resultslist-container {
            display:grid;
            grid-template-columns: repeat(3, 1fr);
            // grid-template-rows: repeat(auto, 1fr);
            gap:16px;
            @media screen and (max-width:1200px){
                grid-template-columns: repeat(2, 1fr);
            }
            @media screen and (max-width:860px){
                grid-template-columns: repeat(1, 1fr);
            }
            @media screen and (max-width:768px){
                grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            }
            .resultslist-item {
                @include glass-box;
                display:flex;
                flex-direction: row;
                min-width:0;
                overflow:hidden;
                height:98px;
                text-decoration: none;
                color:$color-white;
                .resultslist-item-icon {
                    width:96px;
                    height:96px;
                }
                h3 {
                    margin:0;
                    font-weight:$font-normal;
                    padding-block:18px;
                    padding-inline:20px 18px;
                    font-size:1rem;
                    font-weight:$font-light;
                    letter-spacing: 0.04rem;
                    flex-grow:1;
                }
            }
        }
        .resultslist-pagination-wrapper{
            max-width:392px;
            margin:32px auto 0;
            .resultslist-pagination {
                display:flex;
                justify-content: center;
                list-style-type: none;
                gap:5px;
                padding: 0;
                margin:0;
                .page-item {
                    .page-link {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width:38px;
                        height:36px;
                        color:$color-white;
                        text-decoration: none;
                        border-bottom:4px solid rgba($color-white, 0.3);
                        position: relative;
                        bottom:1px;
                    }
                    &.active {
                        .page-link{
                            border-bottom-color: rgba($color-white,1.0);
                        }
                    }
                    &.disabled:not(.prev-btn, .next-btn) {
                        .page-link {
                            display:grid;
                            grid-template-columns: repeat(3, 1fr);
                            flex-direction: row;
                            gap:5px;
                            border-bottom:none;
                            .resultslist-pagination-break {
                                display: block;
                                height:100%;
                                width:100%;
                                border-bottom:4px solid rgba($color-white, 0.3);
                            }
                        }
                    }
                    &.prev-btn, &.next-btn {
                        .page-link {
                            height:36px;
                            background:rgba($color-white, 0.3);
                            border-bottom:none;
                            bottom:0;
                            span {
                                line-height: 0;
                                svg {
                                    width:20px;
                                    height:20px;
                                }
                            }
                        }
                        &.disabled {
                            .page-link {
                                opacity:0.4;
                            }
                        }
                    }
                }
            }
        }
    }

.resultslist-mobile-filter-modaloverlay {
    position:fixed;
    background:rgba($color-black, 0.5);
    bottom:0;
    top:0;
    left:0;
    right:0;
    transition: background-color 0.1s ease-in-out;
    &[data-entering], &[data-exiting] {
        background:rgba($color-black, 0.0);
    }
    .react-aria-Modal {
        @include glass-box;
        position:absolute;
        bottom:0;
        height:50vh;
        width:100%;
        overflow-y:scroll;
        background:rgba($color-white, 0.4);
        padding:0 16px;
        transition: bottom 0.1s ease-in-out;
        &[data-entering]{
            bottom:-50vh;
        }
        &[data-exiting]{
            bottom:-50vh;
        }
        .resultslist-filter-menu {
            width:100%;
            border:none;
        }
    }
}