$reduced-icon-size: 72px;
.simple-item-container {
    @include glass-box;
    display:flex;
    max-width:372px;
    width:25vw;
    height:96px;
    box-sizing: border-box;
    text-decoration: none;
    overflow: hidden;
    &.minimized {
        max-width:unset;
        width:98px;
    }
    .simple-item-image {
        width:96px;
        height:96px;
        img {
            background:url('/data/d1_icons/img/destiny_content/items/set_blank.png') center center / contain;
        }
    }
    .display-item-label {
        padding-block:18px;
        padding-inline:24px 18px;
        margin:0;
        font-size:1rem;
        letter-spacing: 0.075em;
        font-weight:$font-xlight;
    }
    @media screen and (max-width:768px) {
      height:$reduced-icon-size;
      &.minimized {
          max-width:unset;
          width:$reduced-icon-size;
      }
      .simple-item-image {
          width:$reduced-icon-size;
          height:$reduced-icon-size;
      }
      .display-item-label {
        padding-block:12px;
        padding-inline:16px 12px;
        font-size:0.875rem;
      }
    }
    @media screen and (max-width:600px) {
      .display-item-label {
        font-size:0.75rem;
      }
    }
}