.set-item-container {
    @include glass-box;
    display: flex;
    height:96px;
    box-sizing: border-box;
    text-decoration: none;
    overflow: hidden;
    .set-item-icongroup {
        display:flex;
        gap:6px;
        .set-item-icon {
            width:96px;
            height:96px;
            background-image:url('/data/d1_icons/img/destiny_content/items/set_blank.png');
        }
    }
    .set-item-labels {
        padding-block:18px;
        padding-inline:24px 18px;
        p {
            font-size:12px;
            text-transform: uppercase;
            letter-spacing: 0.085rem;
            font-weight: $font-medium;
            color:$color-fadewhite;
            margin:0;
        }
        .display-item-label {
            margin:0;
            font-size:1rem;
            letter-spacing: 0.075em;
            font-weight:$font-xlight;
            text-transform: none;
            color:$color-white;
        }
    }
}