.page-heading {
    @include common-page-head;
    .page-heading-inner {
        @include max-page-cap;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding-inline:$padding-inline-desktop;
        .page-heading-icon {
            width:96px;
            height:96px;
            margin-right:16px;
        }
        .page-heading-text {
            flex-grow: 1;
            h1 {
                @include page-h1;
            }
            .page-heading-subtitle {
                @include page-heading-subtitle;
            }
            .page-heading-flavortext {
                @include page-heading-flavortext;
            }
        }
      }
    @media screen and (max-width:768px) {
      padding-block:24px;
      .page-heading-inner{
        padding-inline:$padding-inline-mobile;
        .page-heading-icon {
            width:48px;
            height:48px;
            margin-right:16px;
        }
        .page-heading-text {
            h1 {
                font-size:2rem;
            }
            .page-heading-subtitle {
              font-size:0.875rem;
            }
            .page-heading-flavortext {
              font-size:0.75rem;
              letter-spacing: 0.07rem;
            }
        }
      }
    }
}