.directory-heading {
    @include common-page-head;
    .directory-contents {
        width:100%;
        max-width:1600px;
        padding-inline:$padding-inline-desktop;
        margin:0 auto;
        h1 {
            font-weight: $font-ultrathin;
            text-transform: uppercase;
            letter-spacing: 0.04em;
            font-size:3.438rem;
            margin: 0;
            @media screen and (max-width:768px){
                font-size:1.875rem;
            }
        }
    }
}