$color-white: #FFFFFF;
$color-black: #000000;
$color-header-gold: #6A591D;
$color-box-gray: #8C8C8F;
$color-box-black: #1A1A1A;
$color-box-dark-gray:#272727;
$color-exotic-gold: #CEAE33;
$color-exotic-gold-light: #FFE57B;
$color-legend-purple-light: #DD94FF;
$color-positive-green: #7AC673;
$color-negative-red: #FF4D4D;

$gradient-major-bg:linear-gradient(#665D5F 0%, #444044 28%, #303238 70%, #384044 100%);
$gradient-major-intro:linear-gradient(0deg,#5B555B 0%, #8A7E82 90%);

$font-family-display:'neue-haas-grotesk-display', Arial, Helvetica, sans-serif;
// $font-family-text:'neue-haas-grotesk-text', Arial, Helvetica, sans-serif;

$font-ultrathin:100;
$font-thin:200;
$font-xlight:300;
$font-light:400;
$font-normal:500;
$font-medium:600;
$font-bold:700;

$padding-inline-desktop:32px;
$padding-inline-mobile:16px;

$glass-blur: blur(16px);

$text-shadow-standard: 1.5px 1.5px 0 rgba($color-black, 0.2);

@mixin glass-blur {
  backdrop-filter: $glass-blur;
  -webkit-backdrop-filter: $glass-blur;
}

@mixin glass-box {
  color:$color-white;
  background-color: $color-box-gray;
  background-color: rgba($color-box-gray, 0.4);
  border:1px solid rgba($color-white, 0.4);
  @include glass-blur;
}


@mixin common-page-head {
  display: flex;
    flex-direction: row;
    width:100%;
    padding-block:40px;
    background:url('./assets/cryptarch_logo_vector-01.svg') center center / 340px no-repeat, $gradient-major-intro;
    height: fit-content;
    box-shadow: 0 6px 80px 0 rgba($color-black, 0.35), 0 4px 10px 0 rgba($color-black, 0.15);
    @media screen and (max-width:768px) {
        background-size: 50%;
    }
}

@mixin itempage-section-heading {
  margin:0;
  font-size:1.375rem;
  font-weight: $font-normal;
  letter-spacing: 0.05em;
  color:rgba($color-white, 0.8);
}