* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: $font-family-display;
  font-weight: $font-light;
  color:$color-white;
  margin:0;
  background:$gradient-major-bg;
  min-height: 100vh;
  min-width:320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .site-wrapper {
    display: flex;
    flex-direction: column;
    min-height:100vh;
  }
}
main {
  width:100%;
  // max-width:1600px;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  // background:$gradient-major-intro;
  flex-grow: 1;
  white-space:pre-wrap;
}