

.itemdetail-robust {
  @include max-page-cap;
  padding-inline:$padding-inline-desktop;
  display:flex;
  flex-wrap:wrap;
  gap: 32px;
  margin-block:32px;
  & > section {
    &:first-child {
      border-right:1px solid $color-ghostwhite;
      padding-right:32px;
    }
  }
  @media screen and (max-width:768px){
    padding-inline:$padding-inline-mobile;
    flex-direction: column;
    align-items: flex-start;
    & > section {
      &:first-child {
        border-right:none;
        padding-right:0;
      }
    }
  }

  .itemdetail-robust-feature-container {
    flex-grow: 100;
    flex-shrink:0;
    flex-basis:0%;
  }
}